* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    padding: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman' , serif;
}



h1#h1-cabecalho{
	text-align:center;
	color: green;
	border: none;
}
div#site {
    background-color: silver;
    width: 990px;
    height:1200px;
    margin: auto;
    padding: 5px;
}

div#cabecalho {
    background-color: white;
    height: 120px;
}

div#conteudo {
    background-color: white;
    height: 1995px;
    width: 990px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}